html, body {
  position: relative;
  height: 100%;
  margin: 0;
  width: 100%;
}

.App {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn-group-vertical,
.btn-group-vertical-no-gaps {
  text-align: center;
  width: 300px;
}

.btn-group-vertical > button,
.btn-group-vertical > hr,
.btn-group-vertical > a,
.btn-group-vertical > div {
  margin-bottom: 10px;
}

.btn-group-vertical-no-gaps > button,
.btn-group-vertical-no-gaps > a,
.last-button {
  margin-bottom: 0 !important;
}

.left-icon {
  margin-right: 10px;
}
